---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1581037118'
      Etag:
      - W/"2fbbe26a5e5492b7fb506622763a8eac"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":213498446,"node_id":"MDEwOlJlcG9zaXRvcnkyMTM0OTg0NDY=","name":"battleship","full_name":"agallant121/battleship","private":false,"owner":{"login":"agallant121","id":52808022,"node_id":"MDQ6VXNlcjUyODA4MDIy","avatar_url":"https://avatars3.githubusercontent.com/u/52808022?v=4","gravatar_id":"","url":"https://api.github.com/users/agallant121","html_url":"https://github.com/agallant121","followers_url":"https://api.github.com/users/agallant121/followers","following_url":"https://api.github.com/users/agallant121/following{/other_user}","gists_url":"https://api.github.com/users/agallant121/gists{/gist_id}","starred_url":"https://api.github.com/users/agallant121/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/agallant121/subscriptions","organizations_url":"https://api.github.com/users/agallant121/orgs","repos_url":"https://api.github.com/users/agallant121/repos","events_url":"https://api.github.com/users/agallant121/events{/privacy}","received_events_url":"https://api.github.com/users/agallant121/received_events","type":"User","site_admin":false},"html_url":"https://github.com/agallant121/battleship","description":null,"fork":false,"url":"https://api.github.com/repos/agallant121/battleship","forks_url":"https://api.github.com/repos/agallant121/battleship/forks","keys_url":"https://api.github.com/repos/agallant121/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/agallant121/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/agallant121/battleship/teams","hooks_url":"https://api.github.com/repos/agallant121/battleship/hooks","issue_events_url":"https://api.github.com/repos/agallant121/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/agallant121/battleship/events","assignees_url":"https://api.github.com/repos/agallant121/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/agallant121/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/agallant121/battleship/tags","blobs_url":"https://api.github.com/repos/agallant121/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/agallant121/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/agallant121/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/agallant121/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/agallant121/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/agallant121/battleship/languages","stargazers_url":"https://api.github.com/repos/agallant121/battleship/stargazers","contributors_url":"https://api.github.com/repos/agallant121/battleship/contributors","subscribers_url":"https://api.github.com/repos/agallant121/battleship/subscribers","subscription_url":"https://api.github.com/repos/agallant121/battleship/subscription","commits_url":"https://api.github.com/repos/agallant121/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/agallant121/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/agallant121/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/agallant121/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/agallant121/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/agallant121/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/agallant121/battleship/merges","archive_url":"https://api.github.com/repos/agallant121/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/agallant121/battleship/downloads","issues_url":"https://api.github.com/repos/agallant121/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/agallant121/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/agallant121/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/agallant121/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/agallant121/battleship/labels{/name}","releases_url":"https://api.github.com/repos/agallant121/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/agallant121/battleship/deployments","created_at":"2019-10-07T22:27:23Z","updated_at":"2019-10-17T00:03:48Z","pushed_at":"2019-10-17T00:03:46Z","git_url":"git://github.com/agallant121/battleship.git","ssh_url":"git@github.com:agallant121/battleship.git","clone_url":"https://github.com/agallant121/battleship.git","svn_url":"https://github.com/agallant121/battleship","homepage":null,"size":32,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":222821519,"node_id":"MDEwOlJlcG9zaXRvcnkyMjI4MjE1MTk=","name":"activerecord-obstacle-course","full_name":"Capleugh/activerecord-obstacle-course","private":false,"owner":{"login":"Capleugh","id":47065120,"node_id":"MDQ6VXNlcjQ3MDY1MTIw","avatar_url":"https://avatars1.githubusercontent.com/u/47065120?v=4","gravatar_id":"","url":"https://api.github.com/users/Capleugh","html_url":"https://github.com/Capleugh","followers_url":"https://api.github.com/users/Capleugh/followers","following_u[...]
[...]
