---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1581047166'
      Etag:
      - W/"a6dacb32eab16aca2e3880172685946e"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":224010419,"node_id":"MDEwOlJlcG9zaXRvcnkyMjQwMTA0MTk=","name":"activerecord-obstacle-course","full_name":"jfangonilo/activerecord-obstacle-course","private":false,"owner":{"login":"jfangonilo","id":53122061,"node_id":"MDQ6VXNlcjUzMTIyMDYx","avatar_url":"https://avatars1.githubusercontent.com/u/53122061?v=4","gravatar_id":"","url":"https://api.github.com/users/jfangonilo","html_url":"https://github.com/jfangonilo","followers_url":"https://api.github.com/users/jfangonilo/followers","following_url":"https://api.github.com/users/jfangonilo/following{/other_user}","gists_url":"https://api.github.com/users/jfangonilo/gists{/gist_id}","starred_url":"https://api.github.com/users/jfangonilo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfangonilo/subscriptions","organizations_url":"https://api.github.com/users/jfangonilo/orgs","repos_url":"https://api.github.com/users/jfangonilo/repos","events_url":"https://api.github.com/users/jfangonilo/events{/privacy}","received_events_url":"https://api.github.com/users/jfangonilo/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jfangonilo/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/jfangonilo/activerecord-obstacle-course/deployments","created_at":"2019-11-25T18:01:26Z","updated_at":"2020-01-04T16:37:35Z","pushed_at":"2020-01-04T16:37:32Z","git_url":"git://github.com/jfangonilo/activerecord-obstacle-course.git","ssh_url":"git@github.com:jfangonilo/activerecord-obstacle-course.git","clone_url":"https://github.com/jfangonilo/activerecord-obstacle-course.git","svn_url":"https://github.com/jfangonilo/activerecord-obstacle-course","homepage":null,"size":63,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":222555621,"node_id":"MDEwOlJlcG9zaXRvcnkyMjI1NTU2MjE=","name":"adopt_dont_shop","full_name":"jfangonilo/adopt_dont_shop","private":false,"owner":{"login":"jfangonilo","id":53122061,"node_id":"MDQ6VXNlcjUzMTIyMDYx","avatar_url":"https://avatars1.githubusercontent.com/u/53122061?v=4","gravatar_id":"","url":"https://api.github.com/users/jfangonilo","html_url":"https://github.com/jfangonilo","followers_url":"https://api.github.com/users/jfangonilo/followers","following_url":"https://api[...]
[...]
